.area-estudo {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.area-menu {
    /* background-image: linear-gradient(190deg, #4942bf, #757575); */
    height: 100%;
    width: 10%;
    padding: 3px 6px;
    background-color: dimgray;
}

.area-navegacao {
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
}