<!-- <div fxLayout="column">
  <div fxFlex="grow">
    <mat-toolbar class="menu-principal" fxLayout="row">
      <mat-toolbar-row>

      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div fxLayout="row" style="height: 94vh;" >
    <div class="menu-lateral">
      <button mat-raised-button>
        INICIO
      </button>
    </div>
    <div class="painel-dias" >
      <div fxLayout="row">
        <div class="dia-semana" fxLayoutAlign="center center">
          <span>DOMINGO</span>
        </div>
        <mat-divider vertical="true"></mat-divider>
        <div class="dia-semana" fxLayoutAlign="center center">
          <span>SEGUNDA</span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="dia-semana" fxLayoutAlign="center center">
          <span>TERÇA</span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="dia-semana" fxLayoutAlign="center center">
          <span>QUARTA</span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="dia-semana" fxLayoutAlign="center center">
          <span>QUINTA</span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="dia-semana" fxLayoutAlign="center center">
          <span>SEXTA</span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="dia-semana" fxLayoutAlign="center center">
          <span>SABADO</span>
        </div>
      </div>
      <ol class="list-unstyled" fxLayout="column">
        <li *ngFor="let cols of rows" fxLayout="row" fxLayoutAlign="start stretch">
          <mat-card *ngFor="let dia of cols" class="dia-mes">
            <mat-card fxLayoutAlign="center center" class="dia">
              <span>12</span>
            </mat-card>
            <mat-divider></mat-divider>
            <mat-card class="lista-eventos">
              <mat-card-content>
                <div style="margin: 3px; 
                width: 90%;
                display: flex;
                justify-content: start;" *ngFor="let evento of dia.listaEvento">
                  <span 
                  fxLayoutAlign="space-between center"
                  style="background-color: #d9d9de;
                  border-radius: 16px;
                  padding: 7px 12px;
                  width: 65%;"
                  >{{evento.descricao}}
                  <button class="btn-primary">
                    t
                  </button>
                </span>
                </div>
              </mat-card-content>
            </mat-card>
            <button  mat-mini-fab class="botao-adicionar" aria-label="Adicionar">
              +
            </button>
          </mat-card>
        </li>
      </ol>
    </div>
  </div>
</div> -->

<header>
  <nav>
    <div>

    </div>
  </nav>
</header>

<div class="area-estudo" fxLayout="row">
  <div class="menu-lateral">

  </div>
  <div class="calendario">
    <div class="nome-dia-semana">
      <div fxLayout="row">
        <div class="col lable-nome-dia" fxLayoutAlign="center center">
          <span>DOMINGO</span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="col lable-nome-dia" fxLayoutAlign="center center">
          <span>SEGUNDA</span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="col lable-nome-dia" fxLayoutAlign="center center">
          <span>TERÇA</span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="col lable-nome-dia" fxLayoutAlign="center center">
          <span>QUARTA</span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="col lable-nome-dia" fxLayoutAlign="center center">
          <span>QUINTA</span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="col lable-nome-dia" fxLayoutAlign="center center">
          <span>SEXTA</span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="col lable-nome-dia" fxLayoutAlign="center center">
          <span>SABADO</span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
      </div>
    </div>
    <div class="dias-do-mes">
      <div class="row semana-do-mes" *ngFor="let cols of rows">
        <div (mouseleave)="teste(false)" (mouseenter)="teste(true)"
         style="margin-right: 1px;" class="col cartao-dia" *ngFor="let dia of cols">
          <div fxLayoutAlign="center center">
            <span>{{dia.data.format('D')}}</span>
          </div>
          <mat-divider style="color: rgb(0, 0, 0);"></mat-divider>
          <div class="lista-eventos">
            <div class="conteudo-evento" *ngFor="let evento of dia.listaEvento">
              <div fxLayoutAlign="space-between center" class="evento">
                <span fxLayoutAlign="start center">
                  {{evento?.nome  | slice:0:11}}
                  <span *ngIf="evento?.nome?.length > 11">
                    ...
                  </span>
                </span>
                <button class="btn btn-link">
                  <mat-icon style="font-size: 15px;">edit</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <button *ngIf="exibeAdd" class="btn btn-link botao-adicionar">
            <mat-icon style="font-size: 17px;">add</mat-icon>
          </button>
        </div>
        <div style="height: 1px;" class="w-100">
        </div>
      </div>
    </div>
  </div>