<div class="modal-header">
  <h4 class="modal-title">Cadastro de evento</h4>
  <a type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="container">
  <div fxLayout="column">
    <div class="login-sec">
      <form class="login-form" [formGroup]="formGroup">
        <div style="margin-bottom: 2px;">
          <label>Evento</label>
          <input type="text" class="form-control" [formControl]="nome">
        </div>
        <div style="margin-bottom: 2px;">
          <label>Descrição</label>
          <textarea class="form-control" [formControl]="descricao" rows="2"></textarea>
        </div>
        <div style="margin-bottom: 2px;" fxLayout="row" fxLayoutAlign="space-between start">
          <div fxFlex="48">
            <label>Tipo Evento</label>
            <select class="form-control" [formControl]="tipoEvento">
              <option *ngFor="let tipo of listaTipoEvento" [ngValue]="tipo">
                {{tipo.nome}}
              </option>
            </select>
          </div>
          <div style="margin-bottom: 2px;" fxFlex="48">
            <label>Data</label>
            <input type="date" class="form-control" [formControl]="data">
          </div>
        </div>
        <div>
          <button [disabled]="!formGroup.valid" (click)="cria(null)" class="btn btn-login"
            style="color: white; margin-bottom: 2px; background-image: linear-gradient(121deg, #000050, #9a0000);">Salvar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a style="color: grey;" type="button" class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')">Voltar</a>
</div>