.menu-usuario {
    border-radius: 50%;
}
a:hover {
    cursor: pointer;
}

button {
    color: #ffebeb;
    box-shadow: 0px 0px 5px floralwhite;
    height: 65%;
    margin-left: 15PX;
    background: navy;
    font-family: sans-serif;
    font-size: 14px;
}

button:hover {
    cursor: pointer;
    color: #b1b1b1;
}