<div style="background-color: white; height: 100%; padding: 15px;">
    <div class="titulo">
        <h1>Flash cards</h1>
    </div>
    <div class="lista-resumos">
        <mat-table #table [dataSource]="lista">

            <ng-container matColumnDef="evento">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Evento</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element?.evento?.nome}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dataUltimaRevisao">
                <mat-header-cell mat-header-cell *matHeaderCellDef>Data Ultima Revisão</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element?.dataUltimaRevisao?.format('DD-MM-YYYY')}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dataProximaRevisao">
                <mat-header-cell mat-header-cell *matHeaderCellDef>Data Proxima Revisão</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element?.dataProximaRevisao?.format('DD-MM-YYYY')}}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" class="classe-teste"
                (click)="open(row)" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
            </mat-row>
        </mat-table>
    </div>
    <div style="height: 10%;" fxLayoutAlign="end center">
        <button (click)="revisaFlashCards()" class="btn botao-adicionar" fxLayoutAlign="center center" >
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-text" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                <path fill-rule="evenodd"
                    d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
        <button (click)="open(null)" class="btn botao-adicionar" fxLayoutAlign="center center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            </svg>
        </button>
    </div>
</div>