<div style="height: 100%;">
    <div style="width: 100%; height: 7%; padding: 15px 0px; " fxLayoutAlign="center start">
        <div fxLayoutAlign="start center" style="width: 80%;" fxLayout="row">
            <input spellcheck="false" #tituloEvento type="text" autocomplete="off"
                (keydown)="calculaTamanhoInputTitulos()" value="Evento sem título" tabindex="0" dir="ltr"
                aria-label="Renomear" data-tooltip="Renomear">
            <span>&nbsp;>&nbsp;</span>
            <input style="margin-left: 10px;" spellcheck="false" #tituloResumo type="text" autocomplete="off"
                (keydown)="calculaTamanhoInputTitulos()" value="Resumo sem título" tabindex="0" dir="ltr"
                aria-label="Renomear" data-tooltip="Renomear">
        </div>

    </div>
    <div style="margin-top: 25px;" style="height: 90%;">
        <div fxLayoutAlign="center start" style="height: 100%;" class="mt-2">
            <form [formGroup]="editorForm" (ngSubmit)="onSubmit()" style="width: 80%; height: 90%;">
                <div style="width: 100%; border: 1px solid black; height: 100%;">
                    <quill-editor [styles]="editorStyle" (onContentChanged)="maxLength($event)"
                        formControlName="editor"></quill-editor>
                    <!-- <span
                        *ngIf="editor.value != null">{{editor.value.length}}</span> -->
                </div>
                <button [disabled]="!editorForm.valid" class="btn btn-primary mt-1">Salvar</button>
            </form>
        </div>
    </div>
</div>