button {
    padding: 7px 5px;
    width: 100%;
    min-height: 32px;
    box-shadow: 0px 0px 5px floralwhite;
    background-color: navy;
  }

  span {
    color: floralwhite;
    font-family: sans-serif;
    font-size: 16px;
    padding: 0px 10px;
  }