<div class="titulo">
    <h1>Resumos</h1>
</div>
<div class="lista-resumos">
    <mat-table #table [dataSource]="lista">

        <ng-container matColumnDef="titulo">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Titulo</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.titulo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="evento">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Evento</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element?.evento?.nome}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dataCriacao">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Data Criação</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element?.dataCriacao?.format('DD-MM-YYYY')}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dataUltimaAtualizacao">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Data Última Atualização</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element?.dataUltimaAtualizacao?.format('DD-MM-YYYY')}}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"
            class="classe-teste"
            (click)="editaResumo(row)" (mouseover)="row.hovered = true"
            (mouseout)="row.hovered = false">
        </mat-row>
    </mat-table>
    <button (click)="criaResumo()" fxLayoutAlign="center center" class="botao-adicionar" mat-raised-button style="background-color: green;">
        <mat-icon>add</mat-icon>
    </button>
</div>