<div fxFill style="background-color: black;">
  <div class="nome-dia-semana">
    <div fxLayout="row">
      <div class="col lable-nome-dia" fxLayoutAlign="center center">
        <span>DOMINGO</span>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col lable-nome-dia" fxLayoutAlign="center center">
        <span>SEGUNDA</span>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col lable-nome-dia" fxLayoutAlign="center center">
        <span>TERÇA</span>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col lable-nome-dia" fxLayoutAlign="center center">
        <span>QUARTA</span>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col lable-nome-dia" fxLayoutAlign="center center">
        <span>QUINTA</span>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col lable-nome-dia" fxLayoutAlign="center center">
        <span>SEXTA</span>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col lable-nome-dia" fxLayoutAlign="center center">
        <span>SABADO</span>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
    </div>
  </div>
  <div class="dias-do-mes">
    <div class="row semana-do-mes" *ngFor="let cols of rows">
      <div (mouseenter)="exibeBotaoAdd(dia.data.format('D').toString() + dia.data.format('MM').toString())"
        (mouseleave)="escondeBotaoAdd(dia.data.format('D').toString() + dia.data.format('MM').toString())"
        class="col cartao-dia" *ngFor="let dia of cols" #card>
        <div fxLayoutAlign="center center">
          <span class="cabecalho-cartao-dia">{{dia.data.utc().date()}}</span>
        </div>
        <mat-divider style="color: rgb(0, 0, 0);"></mat-divider>
        <div class="lista-eventos">
          <div class="conteudo-evento" *ngFor="let evento of dia.listaEvento">
            <div (click)="listaResumoPorEvento(evento)"
             fxLayoutAlign="space-between center" style="position: relative;" class="evento">
              <div>
                  <span>
                    {{evento?.nome  | slice:0:15}}
                    <span *ngIf="evento?.nome?.length > 15">
                      ...
                    </span>
                  </span>
              </div>
              <!-- <div style="position: absolute; right: 0px; top: -2px;">
                <button class="btn btn-link" (click)="open(evento, dia.data)">
                  <mat-icon style="font-size: 15px;">edit</mat-icon>
                </button>
              </div> -->
            </div>
          </div>
        </div>
        <div fxShow="false" [id]="dia.data.format('D').toString() + dia.data.format('MM').toString()">
          <button class="btn btn-link botao-adicionar" (click)="open(null, dia.data)">
            <mat-icon style="font-size: 17px;">add</mat-icon>
          </button>
        </div>
      </div>
      <div style="height: 1px;" class="w-100">
      </div>
    </div>
  </div>
</div>