<div fxLayoutAlign="start center" class="mt-2">
    <mat-form-field fxFlex="grow">
        <input matInput placeholder="Topico" [matAutocomplete]="autoCompleteTopico"
            [formControl]="controladorFormulario" [errorStateMatcher]="exibeErroTopico">
        <mat-autocomplete #autoCompleteTopico="matAutocomplete" [displayWith]="exibeTopico">
            <mat-option *ngFor="let topico of listaTopicoFiltrado | async" [value]="topico">
                {{topico.nome}}
            </mat-option>
            <mat-option style="color: steelblue">
                <mat-icon color="primary">add</mat-icon>Novo Tópico
            </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="controladorFormulario.hasError('topicoNaoIdentificado')">
           Topico Inválido
        </mat-error>
        <!-- <mat-hint *ngIf="obrigatorio">{{'CampoObrigatorio'| translate}}</mat-hint>
        <mat-error
            *ngIf="controladorFormulario.parent.hasError('compraObrigatoria') || controladorFormulario.hasError('required')">
            {{'CampoObrigatorio'| translate}}
        </mat-error>
        <mat-error *ngIf="controladorFormulario.parent.hasError('compraNaoPodeSerAditivadaOuReajustada')">
            {{'CompraNaoPodeSerAditivadaOuReajustada'| translate}}
        </mat-error> -->
    </mat-form-field>
    <button [disabled]="!habilitaBotaoAdicionar()" fxFlex="10" mat-icon-button (click)="adicionaTopico()">
        <mat-icon color="primary">add</mat-icon>
    </button>
</div>