<div id="painel">
    <div style="width: 100%; height: 10%;" fxLayout="row" fxLayoutAlign="center center">
        <button (click)="listaResumos()" style="margin-right: 4px; background-color: transparent; box-shadow: 0px 1px 2px black; color: black;" class="btn btn-primary">Resumos</button>
        <button (click)="listaFlashCard()" style="background-color: transparent; box-shadow: 0px 1px 2px black; color: black;" class="btn btn-primary">Flash Card</button>
    </div>
    <div class="container" fxLayout="column" style="height: 90%;">
        <div fxLayoutAlign="center start">
            <h4 class="modal-title">Detalhes evento</h4>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div>
                <form class="login-form" [formGroup]="formGroup" fxLayout="row wrap">
                    <div class="area-edita-evento" fxLayout="row wrap">
                        <div style="margin-bottom: 10px;" fxFlex="100">
                            <mat-form-field fxFlex>
                                <input matInput type="text" 
                                placeholder="Evento"
                                [formControl]="nome">
                            </mat-form-field>
                        </div>
                        <div style="margin-bottom: 10px;" fxFlex="100">
                            <label>Descrição</label>
                            <textarea class="form-control" [formControl]="descricao" rows="2"></textarea>
                        </div>
                        <div style="margin-bottom: 10px;" fxLayout="row" fxLayoutAlign="space-between start"
                            fxFlex="100">
                            <div fxFlex="48">
                                <label>Tipo Evento</label>
                                <select class="form-control" [formControl]="tipoEvento"
                                    [compareWith]="comparaTipoEvento">
                                    <option *ngFor="let tipo of listaTipoEvento" [ngValue]="tipo">
                                        {{tipo.nome}}
                                    </option>
                                </select>
                            </div>
                            <div style="margin-bottom: 2px;" fxFlex="48">
                                <label>Data</label>
                                <input type="date" class="form-control" [formControl]="data">
                            </div>
                        </div>
                        <div>
                        </div>
                        <button [disabled]="!formGroup.valid" (click)="cria(null)" class="btn btn-login"
                            style="color: floralwhite; margin-bottom: 2px; background-color: green; box-shadow: 0px 1px 4px black;">Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>